<!-- ============================== Footer starts here ============================= -->
<footer class="row">
    <div class="col-md-8 col-lg-8 col-xl-9">
        <h3 class="footer-header-title">Links</h3>
        <ul class="list-unstyled footer-link-box border-end border-2">
            <li><a href="#">link1</a></li>
            <li><a href="#">link1</a></li>
            <li><a href="#">link1</a></li>
            <li><a href="#">link1</a></li>
            <li><a href="#">link1</a></li>
        </ul>
        <ul class="list-unstyled footer-link-box ">
            <li><a href="#">link1</a></li>
            <li><a href="#">link1</a></li>
            <li><a href="#">link1</a></li>
            <li><a href="#">link1</a></li>
            <li><a href="#">link1</a></li>
        </ul>
    </div>


    <!-- ================== Download section ==================-->
    <div class="col-md-4 col-lg-4 col-xl-3">
        <h3 class="footer-header-title">Download Our App!</h3>
        <a href="#" class="mb-2 mt-1 d-block">
            <img src="img/apple-download.png" class="img-fluid" style="height: 100px" alt="">
        </a>
        <a href="#" class="d-block">
            <img src="img/android-download.png" class="img-fluid" style="height: 100px" alt="">
        </a>
    </div>
</footer>



<!-- ======================== Footer helper links ==========================-->
<nav class="nav justify-content-center">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
    <a class="nav-link" href="#">Contact</a>
    <a class="nav-link" href="#">FAQ</a>
    <a class="nav-link" href="#">About</a>
</nav>



<!-- ============================== Footer ends here ============================= -->