<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Craigslist - Login</title>

    <%- include layouts/css_header.ejs -%>

</head>
<body>


<!-- ============================== Top Navbar for every page ============================= -->
<nav class="navbar navbar-expand-lg navbar-light top-navbar bg-top-navbar">
    <a class="navbar-brand" href="#"><img src="img/logo/craigslist-logo-transparent.png" height="30"
                                          class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item border-end border-2">
                <a class="nav-link" href="#">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sign Up<i class="bi bi-person-circle"></i></a>
            </li>
        </ul>
    </div>
</nav>

<!-- ============================== Body AND Footer ============================= -->
<div class="container-fluid">

    <!-- ============================== Body starts here ============================= -->
    <div class="row justify-content-center">
        <div class="col-md-3">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <!-- ============================== Body ends here ============================= -->


    <!-- ============================== Footer starts here ============================= -->
    <footer class="row">
        <div class="col-md-8 col-lg-8 col-xl-9">
            <h3 class="footer-header-title">Links</h3>
            <ul class="list-unstyled footer-link-box border-end border-2">
                <li><a href="#">link1</a></li>
                <li><a href="#">link1</a></li>
                <li><a href="#">link1</a></li>
                <li><a href="#">link1</a></li>
                <li><a href="#">link1</a></li>
            </ul>
            <ul class="list-unstyled footer-link-box ">
                <li><a href="#">link1</a></li>
                <li><a href="#">link1</a></li>
                <li><a href="#">link1</a></li>
                <li><a href="#">link1</a></li>
                <li><a href="#">link1</a></li>
            </ul>
        </div>


        <!-- ================== Download section ==================-->
        <div class="col-md-4 col-lg-4 col-xl-3">
            <h3 class="footer-header-title">Download Our App!</h3>
            <a href="#" class="mb-2 mt-1 d-block">
                <img src="img/apple-download.png" class="img-fluid" alt="">
            </a>
            <a href="#" class="d-block">
                <img src="img/android-download.png" class="img-fluid" alt="">
            </a>
        </div>
    </footer>


    <!-- ======================== Footer helper links ==========================-->
    <nav class="nav justify-content-center">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
        <a class="nav-link" href="#">Contact</a>
        <a class="nav-link" href="#">FAQ</a>
        <a class="nav-link" href="#">About</a>
    </nav>
    <!-- ============================== Footer ends here ============================= -->
</div>


<!-- BOOTSTRAP JavaScript CDN-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>